<div class="conatiner-fluid">
  <div class="row">
    <div class="col-md-5">
      <img mat-card-image [src]="drinkItem?.strDrinkThumb" alt="Photo of a Shiba Inu" class="image">
    </div>
    <div class="col-md-7 details">
      <div class="row">
        <div class="col-12">
          <h2 class="text">{{drinkItem?.strDrink}}</h2>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row mb-3 mt-2">
        <div class="col-12">
            <span class="label bold-label">Category:</span>
            <span class="text-description">{{drinkItem?.strCategory}}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <span class="label  bold-label">Booze type:</span>
            <span class="text-description">{{drinkItem?.strAlcoholic}}</span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            <span class="label bold-label">Glass:</span>
            <span class="text-description">{{drinkItem?.strGlass}}</span>
        </div>
    </div>
      <div class="row mb-2">
        <div class="col-12">
          <mat-list>
            <h2 class="label  bold-label">Ingredients</h2>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of ingredients">
              <div class="ingredient-container">
                <img class="menu-image" [src]="item.Image" alt="{{ item.Image }}">
                <div class="ingredient-details">
                  <div matListItemTitle>{{ item.Name }}</div>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="instruction-container">
            <h2 class="label  bold-label" id="instruction">Instructions</h2>
            <mat-divider></mat-divider>
            <div class="language-selector text-description">
              Select Language:
              <select id="languageSelect"  #t (change)="onSelectLangauge(t.value)">
                <option *ngFor="let language of languages" [value]="language.key">{{language.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="instructions.length > 0">
        <div class="col-12">
          <ul>
            <li *ngFor="let instruction of instructions">
            <span class="text-description">{{instruction}}</span>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
